@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-Variable";
    src: url('../fonts/Montserrat-VariableFont_wght.ttf');
}

/* General styles */
body {
    font-family: "Montserrat-Regular", "Montserrat-Variable", Fallback, sans-serif !important;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 150px;
    overflow-x: hidden;
    background-repeat: no-repeat;
    /* Example: no tiling */
    background-size: cover;
    /* Example: cover the background area */
    background-image: url('../img/landing.jpg');
}

header {
    background-color: #3f51b5;
    color: white;
    padding: 20px;
    text-align: center;

}

footer {
    background-color: rgba(243, 243, 243, 0.35);
    padding: 10px;
    text-align: center;
    position: fixed;
    /* Make footer stick to bottom */
    bottom: 0;
    width: 100%;
    /* Ensure footer spans full width */
    z-index: 100;
    /* Ensure footer stays above content on hover */
}



@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



header h1 {
    animation: slideInRight 2s ease-in-out;
}

header p {
    animation: fadeInDown 1.5s ease-in-out;
}

h1,
h2 {
    margin-bottom: 10px;
}


section {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
    padding: 20px;
    flex: 1;
}

.container {

    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.container>section {
    justify-self: flex-start;
    margin-left: 0;
}

.container>section:nth-child(even) {
    justify-self: flex-end;
    margin-left: auto;
}

.problem ul,
.solution ul,
.testimonials ul,
.call-to-action ul {
    list-style: none;
    padding: 0;
}

.problem ul li,
.solution ul li,
.testimonials ul li,
.call-to-action ul li {
    margin-bottom: 5px;

}

.problem h2,
.testimonials h2 {
    animation: slideInLeft 1s ease-in-out;
}

.solution h2,
.call-to-action h2 {
    animation: slideInLeft 1s ease-in-out;
}


.problem ul li,
.solution ul li {
    animation: fadeInUp 0.7s ease-in-out;
}

.testimonials ul li,
.call-to-action ul li {
    animation: fadeInDown 0.7s ease-in-out;
}


.call-to-action {
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.call-to-action a {
    background-color: #3f51b5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}

.call-to-action p {
    margin-bottom: 10px;
}


main section {
    animation: shadowUp 0.7s cubic-bezier(0.25, 0.1, 0.25, 1) reverse;
}

main section:hover {
    animation: shadowUp 0.7s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

@keyframes shadowUp {
    from {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
        background-color: rgba(0, 0, 0, 0);
    }

    to {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        background-color: rgba(245, 245, 245, 0.5);
    }
}