{% extends "_base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock styles %}

{% block header %}
<header>
    <h1>{{ tittle|default("Автоматизація обробки звернень до АГЧ лікарні") }}</h1>
    <p>Цей проєкт демонструє роботу веб застосунку як частину сервісів e-health комплекс рішень буде розширюватись та
        насичуватись цікавим функціоналом</p>
</header>
{% endblock header %}
{% block content %}
<section>
    <h2>Наразі готовий функціонал складає:</h2>
    <ul>
        <li>Веб-застосунок який ви зараз бачите на своїх екранах</li>
        <li>Telegram-бот як зручний мобільний помічник для співробітників лікарні</li>
        <li>Масштабоване API FastAPI-застосунок, в якому зберігаються дані та обробляються запити співробітників</li>
        <li>Звязки між окремими сервісами налаштовані за допомогою технологій HTTPS-протоколу для безпечного обміну
            даними</li>
        <li>WebSockets для оперативного спілкування внутрішніх застосунків</li>
    </ul>
</section>
{% endblock content %}